<html>
<body>
    <div class="login">
       <h2>Churn Prediction Parameters</h2>
   
       <form action="{{ url_for('predict_data')}}" method="post">
        <h1>
            <legend>Churn Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Senior Citizen</label>
            <select class="form-control" name="SeniorCitizen" placeholder="Senior Citizen?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Partner</label>
            <select class="form-control" name="Partner" placeholder="Partner" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Dependents</label>
            <select class="form-control" name="Dependents" placeholder="Dependents" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Service	</label>
            <select class="form-control" name="PhoneService" placeholder="Phone Service?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Paperless Billing	</label>
            <select class="form-control" name="PaperlessBilling" placeholder="Paperless Billing?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Multiple Lines</label>
            <select class="form-control" name="MultipleLines" placeholder="Multiple Lines?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
                <option value="No phone service">
                    No Phone Service 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Internet Service</label>
            <select class="form-control" name="InternetService" placeholder="Internet Service?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="DSL">
                    DSL
                </option>
                <option value="No">
                    No
                </option>
                <option value="Fiber optic">
                    Fiber Optic
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Online Security</label>
            <select class="form-control" name="OnlineSecurity" placeholder="Online  Security?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
                <option value="No internet service">
                    No internet Service 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Device Protection</label>
            <select class="form-control" name="DeviceProtection" placeholder="Device Protection?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
                <option value="No internet service">
                    No internet Service 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Online Backup</label>
            <select class="form-control" name="OnlineBackup" placeholder="Online Backup?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
                <option value="No internet service">
                    No internet Service 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Tech Support</label>
            <select class="form-control" name="TechSupport" placeholder="Tech Support?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
                <option value="No internet service">
                    No internet Service 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Streaming TV</label>
            <select class="form-control" name="StreamingTV" placeholder="Streaming TV?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
                <option value="No internet service">
                    No internet Service 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Streaming Movies</label>
            <select class="form-control" name="StreamingMovies" placeholder="StreamingMovies?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
                <option value="No internet service">
                    No internet Service 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Contract</label>
            <select class="form-control" name="Contract" placeholder="Contract?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Month-to-month">
                    Month-to-month
                </option>
                <option value="One year">
                    One year
                </option>
                <option value="Two year">
                    Two year 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Payment Method</label>
            <select class="form-control" name="PaymentMethod" placeholder="Payment Method?" required>
                <option class="placeholder" selected disabled value="">Select option</option>
                <option value="Credit card (automatic)">
                    Credit card
                </option>
                <option value="Bank transfer (automatic)">
                    Bank transfer
                </option>
                <option value="Mailed check">
                    Mailed check 
                </option>
                <option value="Electronic check">
                    Electronic check 
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Monthly Charges</label>
            <input class="form-control" type="number" name="MonthlyCharges"
                placeholder="Enter Monthly Charges"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Tenure Months</label>
            <input class="form-control" type="number" name="TenureMonths"
                placeholder="Enter Tenure (in Months)"/>
        </div>
        <div class="mb-3">
            <label class="form-label">CLTV</label>
            <input class="form-control" type="number" name="CLTV"
                placeholder="CLTV"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Churn Score</label>
            <input class="form-control" type="number" name="ChurnScore"
                placeholder="ChurnScore" min='0' max='100'/>
        </div>

        
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict if the customer will churn or not?" required />
        </div>
    </form>
    <h2>
       Model Predicts that: {{results}}
    </h2>
   <body>
</html>
